
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-toolbar>
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    <span>Login</span>
    <span class="example-spacer"></span>
    
</mat-toolbar>

<div style="height: 100%;">
    <mat-sidenav-container class="background-transparent" style="height: 100%;">
        <mat-sidenav  #drawer mode="over"  #sidenav class='sclass'>
            <br/><br/>
            <button  mat-button routerLink='/' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Home</button><br/><br/>
            <button  mat-button routerLink='/register' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Register</button><br/><br/>
            
        </mat-sidenav>

        <mat-sidenav-content>
            <div class="background-transparent custom-mat-drawer-content">
                <router-outlet>
                    
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
<div class="card">
    <h4 class="card-header">Login</h4>
    <div class="card-body">
        <form [formGroup]='loginForm' (ngSubmit)='login()'>
            <div class="form-group">
            <label for="usrename">Username</label>
                <input type="text"  name='username' class="form-control" formControlName="username" [ngClass]="{ 'is-invalid':username.errors?.required && submitted}"/>
                <div *ngIf="username.errors?.required" class="invalid-feedback">
                    <div *ngIf="username.errors?.required">*Username is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="usrename">Password</label>
                    <input type="password"  name='password' class="form-control" formControlName="password" [ngClass]="{ 'is-invalid':password.errors?.required && submitted}"/>
                    <div *ngIf="password.errors?.required" class="invalid-feedback">
                        <div *ngIf="password.errors?.required">*Password is required</div>
                    </div>
                </div>
            <div class="form-group">
                <button  class="btn btn-primary" type="submit">
                    Login
                </button>
                <a routerLink="/register" class="btn btn-link">Register</a>
            </div>
        </form>
    </div>
    <notifier-container>

    </notifier-container>
</div>
</div>
</div>
</div>
</div>

                </router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
