
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-toolbar>
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    <span>Pregled svih korisnika</span>
    <span class="menu-spacer"></span>
    <button mat-icon-button class="example-icon" *ngIf='isLoggedIn' (click)='logout()'>
      Odjava
    </button>
</mat-toolbar>

<div style="height: 100%;">
    <mat-sidenav-container class="background-transparent" style="height: 100%;">
        <mat-sidenav  #drawer mode="over"  #sidenav class='sclass'>
            <br/><br/>
            <button  mat-button routerLink='/welcomeAdmin' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Pocetna stranica</button><br/><br/>
            <button  mat-button routerLink='/registrationRequests' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Zahtjevi za registraciju</button><br/><br/>
            <button  mat-button routerLink='/estateRequests' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Zahtjevi za nekretnine</button><br/><br/>
            <button  mat-button routerLink='/insertEstate' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Dodaj nekretninu</button><br/><br/>
            <button  mat-button routerLink='/insertUser' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Dodaj korisnika</button><br/><br/>
            <button  mat-button routerLink='/passwordChange' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Promjena lozinke</button><br/><br/>
            <button  mat-button routerLink='/editProfile' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Azuriranje profila</button><br/><br/>     
            <button  mat-button routerLink='/allUsers' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Pregled svih korisnika</button><br/><br/>     
            <button  mat-button routerLink='/myEstates' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Moje nekretnine</button><br/><br/>
            <button  mat-button routerLink='/updateFee' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Azuriraj procenat za posredovanje</button><br/><br/>
            <button  mat-button routerLink='/allTransactions' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Sve transakcije</button><br/><br/>
            <button  mat-button routerLink='/allOffers' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Pregled ponuda</button><br/><br/>
            
        </mat-sidenav>

        <mat-sidenav-content>
            <div class="background-transparent custom-mat-drawer-content">
                <router-outlet>
                   
                    <span *ngFor='let e of allUsers' style="margin-left: auto; margin-right: auto;">
                       <span *ngIf='e.username != user.username'>
                        <mat-card class="estate" >
                            <mat-card-header>
                              <mat-card-title>{{e.ime}} {{e.prezime}}</mat-card-title>
                              <mat-card-subtitle>{{e.city}}, {{e.country}}</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="{{e.picture}}" alt="photo of user" height="200px">
                            <mat-card-content>
                                <br>
                                <br/>
                             <b> Email:</b> {{e.email}} <br/>
                             <b> Tip korisnika: </b>{{e.userType}}<br/>
                            </mat-card-content>
                            <mat-card-actions >
                              <button class="btn btn-primary" (click)="details(e.username)">Azuriraj</button>
                              <span *ngIf="e.accepted"><button mat-button (click)="deleteUser(e.username)">Izbrisi</button></span>
                              <span *ngIf="!e.accepted"><button mat-button (click)="acceptRequest(e.username)">Prihvati zahtjev</button></span>
                            </mat-card-actions>
                        </mat-card>
                    </span>
                        </span>

                </router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>