
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-toolbar style="position: sticky;">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    <span>Zahtjevi za registraciju</span>
    <span class="menu-spacer"></span>
    <button mat-button class="example-icon" (click)='logout()' *ngIf='isLoggedIn'>
        Odjava
      </button>
</mat-toolbar>

<div style="height: 100%;">
    <mat-sidenav-container class="background-transparent" style="height: 100%;">
        <mat-sidenav  #drawer mode="over"  #sidenav class='sclass'>
            <br/><br/>
            <button  mat-button routerLink='/welcomeAdmin' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Pocetna stranica</button><br/><br/>
            <button  mat-button routerLink='/registrationRequests' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Zahtjevi za registraciju</button><br/><br/>
            <button  mat-button routerLink='/estateRequests' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Zahtjevi za nekretnine</button><br/><br/>
            <button  mat-button routerLink='/insertEstate' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Dodaj nekretninu</button><br/><br/>
            <button  mat-button routerLink='/insertUser' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Dodaj korisnika</button><br/><br/>
            <button  mat-button routerLink='/passwordChange' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Promjena lozinke</button><br/><br/>
            <button  mat-button routerLink='/editProfile' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Azuriranje profila</button><br/><br/>     
            <button  mat-button routerLink='/allUsers' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Pregled svih korisnika</button><br/><br/>     
            <button  mat-button routerLink='/myEstates' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Moje nekretnine</button><br/><br/>
            <button  mat-button routerLink='/updateFee' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Azuriraj procenat za posredovanje</button><br/><br/>
            <button  mat-button routerLink='/allTransactions' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Sve transakcije</button><br/><br/>
            <button  mat-button routerLink='/allOffers' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Pregled ponuda</button><br/><br/>
            
        </mat-sidenav>

        <mat-sidenav-content>
          <br/>
            <div class="background-transparent custom-mat-drawer-content">
                
                    <mat-card class="registration-request-card" *ngFor='let user of registrationRequestUsers'>
                        <mat-card-header>
                          <mat-card-title>{{user.ime}} {{user.prezime}}</mat-card-title>
                          <mat-card-subtitle>username: {{user.username}}</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="{{user.picture}}" alt="profile photo">
                        <mat-card-content >
                            Grad: {{user.city}} <br/>
                            Drzava: {{user.country}}
                        </mat-card-content>
                        <mat-card-actions >
                          <button mat-button class="button-accept" (click)='acceptRegistrationRequest(user.username)'>Prihvati</button>
                          <button mat-button class='button-decline'(click)='declineRegistrationRequest(user.username)'>Odbij</button>
                        </mat-card-actions>
                      </mat-card>
                    
  
               
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>