
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-toolbar style="position: sticky;">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    <span>Registration requests</span>
    <span class="example-spacer"></span>
    <button mat-button class="example-icon" (click)='logout()' *ngIf='isLoggedIn'>
        Logout
      </button>
</mat-toolbar>

<div style="height: 100%;">
    <mat-sidenav-container class="background-transparent" style="height: 100%;">
        <mat-sidenav  #drawer mode="over"  #sidenav class='sclass'>
            <br/><br/>
            <button  mat-button routerLink='/welcomeAdmin' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Home</button><br/><br/>
            <button  mat-button routerLink='/estateRequests' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Estate approval requests</button><br/><br/>
            <button  mat-button routerLink='/insertEstate' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Insert estates</button><br/><br/>
            <button  mat-button routerLink='/insertUser' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Insert user</button><br/><br/>
            <button  mat-button routerLink='/passwordChange' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Change password</button><br/><br/>
            <button  mat-button routerLink='/editProfile' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Edit profile</button><br/><br/>     
            <button  mat-button routerLink='/allUsers' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">View all users</button><br/><br/>     
            <button  mat-button routerLink='/myEstates' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">My estates</button><br/><br/>
         
        </mat-sidenav>

        <mat-sidenav-content>
          <br/>
            <div class="background-transparent custom-mat-drawer-content">
                
                    <mat-card class="registration-request-card" *ngFor='let user of registrationRequestUsers'>
                        <mat-card-header>
                          <mat-card-title>{{user.ime}} {{user.prezime}}</mat-card-title>
                          <mat-card-subtitle>Username: {{user.username}}</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content >
                            City: {{user.city}} <br/>
                            Coutry: {{user.country}}
                        </mat-card-content>
                        <mat-card-actions >
                          <button mat-button class="button-accept" (click)='acceptRegistrationRequest(user.username)'>Accept</button>
                          <button mat-button class='button-decline'(click)='declineRegistrationRequest(user.username)'>Decline</button>
                        </mat-card-actions>
                      </mat-card>
                    
  
               
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
<notifier-container></notifier-container>