<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-toolbar>
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button *ngIf='isLoggedIn' mat-icon-button class="example-icon">
        Log out
    </button>
</mat-toolbar>

<div style="height: 100%;">
    <mat-sidenav-container class="background-transparent" style="height: 100%;">
        <mat-sidenav #drawer mode="over" #sidenav class='sclass'>
            <br /><br />
            <button mat-button routerLink='' routerLinkActive="button-nav-selected" (click)='sidenav.close()'
                class="nav-button">Home</button><br /><br />
        </mat-sidenav>

        <mat-sidenav-content>
            <div class="background-transparent custom-mat-drawer-content">
                <div class="jumbotron">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 offset-sm-3">
                                <div class="card">
                                    <h4 class="card-header">Change password</h4>
                                    <div class="card-body">
                                        <form [formGroup]='changePasswordForm' (ngSubmit)='submit()'>
                                            <div class="form-group">
                                                <label for="oldPassword">Old password</label>
                                                <input type="password" name='old_password' class="form-control"
                                                    formControlName="old_password"
                                                    [ngClass]="{ 'is-invalid':old_password.errors?.required && submitted}" />
                                                <div *ngIf="old_password.errors?.required" class="invalid-feedback">
                                                    <div *ngIf="old_password.errors?.required">*Old password is required
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="newPassword">New password</label>
                                                <input type="password"  name='newPassword' class="form-control" formControlName="new_password" (change)='onPasswordChange()' [ngClass]="{ 'is-invalid':(new_password.errors?.required || new_password.hasError('multiple') ||new_password.errors?.maxlength)&& submitted}"/>
                                                <div *ngIf="new_password.errors?.required" class="invalid-feedback">
                                                    <div *ngIf="new_password.errors?.required">*New password is required</div>
                                                </div>
                                                <div *ngIf="new_password.hasError('multiple')" class="invalid-feedback">
                                                    <div *ngIf="new_password.hasError('multiple')">*Password needs to have at least one uppercase, one lowercase, one number and one special character</div>
                                                </div>
                                                <div *ngIf="new_password.errors?.maxlength" class="invalid-feedback">
                                                    <div *ngIf="new_password.errors?.maxlength">*Password needs to be maximum 24 characters long</div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="re_new_password">Re-enter new password</label>
                                                <input type="password"  name='re_new_password' class="form-control" formControlName="re_new_password" (change)='onPasswordChange()' [ngClass]="{ 'is-invalid':(re_new_password.errors?.required || re_new_password.hasError('mismatch')) && submitted}"/>
                                                <div *ngIf="re_new_password.errors?.required" class="invalid-feedback">
                                                    <div *ngIf="re_new_password.errors?.required">*Re-enter new password is required</div>
                                                </div>
                                                <div *ngIf="re_new_password.hasError('mismatch')" class="invalid-feedback">
                                                    <div *ngIf="re_new_password.hasError('mismatch')">*Passwords are not matching</div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <button class="btn btn-primary" type="submit">
                                                    Submit
                                                </button>
                                            </div>
                                        </form>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
<notifier-container></notifier-container>