
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-toolbar>
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    <span>Update fee</span>
    <span class="menu-spacer"></span>
    <button mat-icon-button class="example-icon" *ngIf='isLoggedIn'>
      Log out
    </button>
</mat-toolbar>

<div style="height: 100%;">
    <mat-sidenav-container class="background-transparent" style="height: 100%;">
        <mat-sidenav  #drawer mode="over"  #sidenav class='sclass'>
            <br/><br/>
            <button  mat-button routerLink='/welcomeAdmin' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Home</button><br/><br/>
            <button  mat-button routerLink='/registrationRequests' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Registration requests</button><br/><br/>
            <button  mat-button routerLink='/estateRequests' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Estate approval requests</button><br/><br/>
            <button  mat-button routerLink='/insertEstate' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Insert estates</button><br/><br/>
            <button  mat-button routerLink='/insertUser' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Insert user</button><br/><br/>
            <button  mat-button routerLink='/passwordChange' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Change password</button><br/><br/>
            <button  mat-button routerLink='/editProfile' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Edit profile</button><br/><br/>     
            <button  mat-button routerLink='/allUsers' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">View all users</button><br/><br/>     
            <button  mat-button routerLink='/myEstates' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">My estates</button><br/><br/>
            <button  mat-button routerLink='/updateFee' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Update fee</button><br/><br/>
        
        </mat-sidenav>

        <mat-sidenav-content>
            <div class="background-transparent custom-mat-drawer-content">
                <router-outlet>
                    <notifier-container>

                    </notifier-container>    
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
<div class="card">
    <h4 class="card-header">Update fee</h4>
    <div class="card-body">
        <form [formGroup]='fee' (ngSubmit)='updateFee()'>
            <div class="form-group">
            <label for="usrename">Sale</label>
                <input type="number"  name='username' class="form-control" formControlName="prodaja" [ngClass]="{ 'is-invalid':prodaja.errors?.required && submitted}"/>
                <div *ngIf="prodaja.errors?.required" class="invalid-feedback">
                    <div *ngIf="prodaja.errors?.required">*Sale percentage is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="usrename">Rent</label>
                    <input type="number"  name='password' class="form-control" formControlName="iznajmljivanje" [ngClass]="{ 'is-invalid':iznajmljivanje.errors?.required && submitted}"/>
                    <div *ngIf="iznajmljivanje.errors?.required" class="invalid-feedback">
                        <div *ngIf="iznajmljivanje.errors?.required">*Rent percentage is required</div>
                    </div>
                </div>
            <div class="form-group">
                <button  class="btn btn-primary" type="submit">
                    Update
                </button>
            </div>
        </form>
    </div>
    
</div>
</div>
</div>
</div>
</div>

                </router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>