
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-toolbar>
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    <span>Azuriranje procenta posredovanja</span>
    <span class="menu-spacer"></span>
    <button mat-icon-button class="example-icon" *ngIf='isLoggedIn' (click)="logout()">
      Odjava
    </button>
</mat-toolbar>

<div style="height: 100%;">
    <mat-sidenav-container class="background-transparent" style="height: 100%;">
        <mat-sidenav  #drawer mode="over"  #sidenav class='sclass'>
            <br/><br/>
            <button  mat-button routerLink='/welcomeAdmin' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Pocetna stranica</button><br/><br/>
            <button  mat-button routerLink='/registrationRequests' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Zahtjevi za registraciju</button><br/><br/>
            <button  mat-button routerLink='/estateRequests' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Zahtjevi za nekretnine</button><br/><br/>
            <button  mat-button routerLink='/insertEstate' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Dodaj nekretninu</button><br/><br/>
            <button  mat-button routerLink='/insertUser' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Dodaj korisnika</button><br/><br/>
            <button  mat-button routerLink='/passwordChange' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Promjena lozinke</button><br/><br/>
            <button  mat-button routerLink='/editProfile' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Azuriranje profila</button><br/><br/>     
            <button  mat-button routerLink='/allUsers' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Pregled svih korisnika</button><br/><br/>     
            <button  mat-button routerLink='/myEstates' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Moje nekretnine</button><br/><br/>
            <button  mat-button routerLink='/updateFee' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Azuriraj procenat za posredovanje</button><br/><br/>
            <button  mat-button routerLink='/allTransactions' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Sve transakcije</button><br/><br/>
            <button  mat-button routerLink='/allOffers' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Pregled ponuda</button><br/><br/>
            
        </mat-sidenav>

        <mat-sidenav-content>
            <div class="background-transparent custom-mat-drawer-content">
                <router-outlet>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
<div class="card">
    <h4 class="card-header">Procenat za posredovanje</h4>
    <div class="card-body">
        <form [formGroup]='fee' (ngSubmit)='updateFee()'>
            <div class="form-group">
            <label for="usrename">Prodaja</label>
                <input type="number"  name='username' class="form-control" formControlName="prodaja" [ngClass]="{ 'is-invalid':prodaja.errors?.required && submitted}"/>
                <div *ngIf="prodaja.errors?.required" class="invalid-feedback">
                    <div *ngIf="prodaja.errors?.required">*Procenat za prodaju je obavezan</div>
                </div>
            </div>
            <div class="form-group">
                <label for="usrename">Iznajmljivanje</label>
                    <input type="number"  name='password' class="form-control" formControlName="iznajmljivanje" [ngClass]="{ 'is-invalid':iznajmljivanje.errors?.required && submitted}"/>
                    <div *ngIf="iznajmljivanje.errors?.required" class="invalid-feedback">
                        <div *ngIf="iznajmljivanje.errors?.required">*Procenat za iznajmljivanje je obavezan</div>
                    </div>
                </div>
            <div class="form-group">
                <button  class="btn btn-primary" type="submit">
                    Azuriraj
                </button>
            </div>
        </form>
    </div>
    
</div>
</div>
</div>
</div>
</div>

                </router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>