
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-toolbar>
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    <span>Podaci o nekretnini</span>
    <span class="menu-spacer"></span>
    <button mat-icon-button  (click)='logout()' *ngIf='isLoggedIn' >
      Odjava
    </button>
</mat-toolbar>

<div style="height: 100%;">
    <mat-sidenav-container class="background-transparent" style="height: 100%;">
        <mat-sidenav  #drawer mode="over"  #sidenav class='sclass'>
            <br/><br/>
            <button  mat-button routerLink='/' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Pocetna stranica</button><br/><br/>
            <span *ngIf="user.userType=='administrator'">
                <button  mat-button routerLink='/registrationRequests' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Zahtjevi za registraciju</button><br/><br/>
            <button  mat-button routerLink='/estateRequests' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Zahtjevi za nekretnine</button><br/><br/>
            <button  mat-button routerLink='/insertEstate' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Dodaj nekretninu</button><br/><br/>
            <button  mat-button routerLink='/insertUser' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Dodaj korisnika</button><br/><br/>
            <button  mat-button routerLink='/passwordChange' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Promjena lozinke</button><br/><br/>
            <button  mat-button routerLink='/editProfile' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Azuriranje profila</button><br/><br/>     
            <button  mat-button routerLink='/allUsers' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Pregled svih korisnika</button><br/><br/>     
            <button  mat-button routerLink='/myEstates' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Moje nekretnine</button><br/><br/>
            <button  mat-button routerLink='/updateFee' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Azuriraj procenat za posredovanje</button><br/><br/>
            <button  mat-button routerLink='/allTransactions' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Sve transakcije</button><br/><br/>
            <button  mat-button routerLink='/allOffers' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Pregled ponuda</button><br/><br/>
            
            </span>
            <span *ngIf="user.userType=='agent'">
                <button  mat-button routerLink='/passwordChange' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Promjena lozinke</button><br/><br/>
                <button  mat-button routerLink='/editProfile' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Azuriranje profila</button><br/><br/> 
                <button  mat-button routerLink='/estateRequests' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Zahtjevi za nekretnine</button><br/><br/>
            <button  mat-button routerLink='/insertEstate' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Dodaj nekretninu</button><br/><br/>
            <button  mat-button routerLink='/allEstates' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Pregled svih nekretnina</button><br/><br/>
            <button  mat-button routerLink='/myEstates' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Moje nekretnina</button><br/><br/>
            <button  mat-button routerLink='/allTransactions' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Pregled svih transakcija</button><br/><br/>
            <button  mat-button routerLink='/allOffers' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Pregled ponuda</button><br/><br/>
            
            </span>
            <span *ngIf="user.userType=='korisnik'">
                <button  mat-button routerLink='/passwordChange' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Promjena lozinke</button><br/><br/>
            <button  mat-button routerLink='/myEstates' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Moje nekretnine</button><br/><br/>
            <button  mat-button routerLink='/editProfile' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Azuriranje profila</button><br/><br/>
            <button  mat-button routerLink='/insertEstate' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Dodaj nekretninu</button><br/><br/>
            <button  mat-button routerLink='/allOffers' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Pregled ponuda</button><br/><br/>
            
            </span>
        </mat-sidenav>

        <mat-sidenav-content>
            <div class="background-transparent custom-mat-drawer-content">
                <router-outlet>
                    
                    <div >
                        <div class="estateInfo">
                            <h1>{{estate.name}}</h1>
                            <div>
                                <ng-image-slider [images]="imagesObject"  #nav infinite='true'  [autoSlide]='{interval: 1, stopOnHover: true}'></ng-image-slider>
                              </div>
                            <p><b>Adresa:</b> {{estate.street}}, Opstina {{estate.municipality}}, {{estate.city}} </p>
                            <p><b>Tip:</b> {{estate.typeOfEstate}}</p>
                            <p *ngIf="estate.typeOfEstate=='kuca'"><b>Broj spratova kuce:</b> {{estate.numberOfFloors}}</p>
                            <div *ngIf="estate.typeOfEstate=='stan'">
                                <p><b>Sprat broj:</b> {{estate.floorNumber}}</p>
                                <p><b>Ukupan broj spratova zgrade:</b> {{estate.numberOfFloors}}</p>
                            </div>
                            <p><b>Velicina:</b> {{estate.size}} kvadrata, {{estate.numberOfRooms}} soba</p>
                            <p *ngIf="estate.furniture==true"><b>Namjestaj:</b> Namjesten</p>
                            <p *ngIf="estate.furniture==false"><b>Namjestaj:</b> Nenamjesten</p>
                            
                           
                            <p *ngIf="estate.typeOfAdvertisement=='iznajmljivanje'"> <b>Tip oglasa:</b> Izdavanje</p>
                            <p *ngIf="estate.typeOfAdvertisement=='prodaja'"> <b>Tip oglasa:</b> Prodaja</p>
                            <p ><b>Cijena:</b> {{estate.price}} EUR</p>
                            <p><b>Vlasnik: </b> {{estate.ownerUsername}}</p>
                            <br>
                            <span *ngIf="estate.typeOfAdvertisement=='iznajmljivanje' && iznajmljivanjeB">
                                <b>Rezervacija:  </b> <mat-form-field appearance="fill" >
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    <mat-label>Unesite datum</mat-label>
                                    <mat-date-range-input [rangePicker]="picker">
                                      <input matStartDate placeholder="Start date" [(ngModel)]='startDate'>
                                      <input matEndDate placeholder="End date" [(ngModel)]='endDate'>
                                    </mat-date-range-input>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-date-range-picker #picker></mat-date-range-picker>
                                  </mat-form-field>
                                  &nbsp;
                                  &nbsp;
                                  <button  class="btn btn-primary" (click)='ponudaRezervacija()'>Rezervisi</button>     
                            </span>
                            <span *ngIf="estate.typeOfAdvertisement=='prodaja' && prodajaB">
                                <b>Placanje: </b>
                                &nbsp;
                                    &nbsp;
                                    &nbsp;
                                <mat-radio-group [(ngModel)]='placanje' name="placanje">
                                    <mat-radio-button  value="kredit">Kredit
                                    </mat-radio-button>
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    <mat-radio-button  value="kes" >Gotovina
                                    </mat-radio-button>
                                </mat-radio-group>
                                <span >
                                    <br/>
                                    <b>Ukupno:</b> {{estate.price}} [EUR] <span *ngIf="placanje=='kredit'">+ {{ucesce}} [EUR] (20% ucesce)={{ukupno}} [EUR]</span>
                                </span>
                                <br/>
                                <br/>
                                <input type="number" class="form-input-price" name="minPriceSearch" [(ngModel)]='price'> &nbsp;
                                &nbsp;
                                &nbsp;
                                <button style="margin-left: auto;margin-right: auto;" class="btn btn-primary" (click)='ponudaProdaja()'>Posalji ponudu</button>     
                            </span>
                        </div>
                    </div>
                </router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
