
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-toolbar>
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    <span>Edit user info</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" *ngIf='isLoggedIn' (click)='logout()'>
      Log out
    </button>
</mat-toolbar>

<div style="height: 100%;">
    <mat-sidenav-container class="background-transparent" style="height: 100%;">
        <mat-sidenav  #drawer mode="over"  #sidenav class='sclass'>
            <br/><br/>
            <button  mat-button routerLink='/passwordChange' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Change password</button><br/><br/>
            
        </mat-sidenav>

        <mat-sidenav-content>
            <div class="background-transparent custom-mat-drawer-content">
                <router-outlet>
                        <mat-card class="profile-card" >
                            <mat-card-header>
                            </mat-card-header>
                            <img mat-card-image src="{{pictureSource}}" alt="Profile photo" >
                            <br/>
                            <label for="picture">Profile Picture</label>
                                <br/>
                                <input type="file"  name='picture' accept="image/*" (change)="onFileChange($event)"/>
                            <mat-card-content >
                                <div class="background-transparent custom-mat-drawer-content">
                                <div class="jumbotron">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-6 offset-sm-3">
                                    <div class="card" >
                                        <h4 class="card-header">Osnovni podaci</h4>
                                        <div class="card-body">
                                            <form [formGroup]='userForm'>
                                                <div class="form-group">
                                                    <label for="name">Ime</label>
                                                    <input type="text" name='name' class="form-control" formControlName="name" /> 
                        
                                                </div>
                                                <div class="form-group">
                                                    <label for="surname">Prezime</label>
                                                    <input type="text"  name='surname' class="form-control" formControlName="surname" />
                                                    
                                                </div>
                                                <div class="form-group">
                                                    <label for="city">Grad</label>
                                                    <input type="text"  name= 'city' class="form-control" formControlName="city"  />
                                                   
                                                </div>
                                                <div class="form-group">
                                                    <label for="country">Drzava</label>
                                                    <input type="text"  name='country' class="form-control" formControlName="country"/>
                        
                                                </div>
                                                <button class="btn btn-primary" (click)='update()'>Update</button>
                                            </form>
                                        </div>
                                    </div>
                                    </div>
                                    </div>
                                    </div>
                                    <notifier-container></notifier-container>
                                    </div>
                                
                                </div>
                            </mat-card-content>
                          </mat-card>
                </router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>