
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-toolbar>
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    <span>Estate Data</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" *ngIf='isLoggedIn'>
      Log out
    </button>
</mat-toolbar>

<div style="height: 100%;">
    <mat-sidenav-container class="background-transparent" style="height: 100%;">
        <mat-sidenav  #drawer mode="over"  #sidenav class='sclass'>
            <br/><br/>
            <button  mat-button routerLink='/welcomeAgent' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Home</button><br/><br/>
            <button  mat-button routerLink='/passwordChange' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Change password</button><br/><br/>
            <button  mat-button routerLink='/estateRequests' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Estate approval requests</button><br/><br/>
            <button  mat-button routerLink='/insertEstate' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Insert estate</button><br/><br/>
            <button  mat-button routerLink='/allEstates' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">View all estates</button><br/><br/>
            <button  mat-button routerLink='/myEstates' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">My estates</button><br/><br/>
            <button  mat-button routerLink='/allTransactions' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">All transactions</button><br/><br/>
            
        </mat-sidenav>

        <mat-sidenav-content>
            <div class="background-transparent custom-mat-drawer-content">
                <router-outlet>
                    <div class="container">
                        <ul class="nav nav-tabs">
                          <li class="nav-item">
                            <button mat-button (click)="prvi()">Nekretnine/Cjenovni rang</button>
                          </li>
                          <li class="nav-item">
                            <button  mat-button (click)="drugi()">Broj nekretnina po gradovima</button>
                          </li>
                          <li class="nav-item">
                            <button  mat-button (click)="treci()">Kuce/stanovi - prodaja/iznajmljivanje</button>
                          </li>
                        </ul>
                    </div>
                   <div style="display:block" *ngIf="first">
                        <canvas baseChart
                        [datasets]="barChartData1"
                        [labels]="barChartLabels1"
                        [options]="barChartOptions1"
                        [legend]="barChartLegend1"
                        [chartType]="barChartType1"
                        ></canvas>
                   </div>
                   <div style="display:block" *ngIf="second">
                    <canvas baseChart
                    [datasets]="barChartData2"
                    [labels]="barChartLabels2"
                    [options]="barChartOptions2"
                    [legend]="barChartLegend2"
                    [chartType]="barChartType2"
                    ></canvas>
               </div>
               <div style="display:block" *ngIf="third">
                <canvas baseChart 
                        [datasets]="barChartData3"
                        [labels]="barChartLabels3"
                        [options]="barChartOptions3"
                        [legend]="barChartLegend3"
                        [type]="barChartType3"
                        ></canvas>
           </div>
                </router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
<notifier-container></notifier-container>