
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-toolbar>
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    <span>Estate approval requests</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" *ngIf='isLoggedIn' (click)='logout()'>
      Log out
    </button>
</mat-toolbar>

<div style="height: 100%;">
    <mat-sidenav-container class="background-transparent" style="height: 100%;">
        <mat-sidenav  #drawer mode="over"  #sidenav class='sclass'>
            <br/><br/>
            <button  mat-button routerLink='/' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Home</button><br/><br/>
            <span *ngIf="user.userType=='administrator'">
                <button  mat-button routerLink='/registrationRequests' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Registration requests</button><br/><br/>
                <button  mat-button routerLink='/estateRequests' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Estate approval requests</button><br/><br/>
                <button  mat-button routerLink='/insertEstate' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Insert estates</button><br/><br/>
                <button  mat-button routerLink='/insertUser' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Insert user</button><br/><br/>
                <button  mat-button routerLink='/passwordChange' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Change password</button><br/><br/>
                <button  mat-button routerLink='/editProfile' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Edit profile</button><br/><br/>     
                <button  mat-button routerLink='/allUsers' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">View all users</button><br/><br/>     
                <button  mat-button routerLink='/myEstates' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">My estates</button><br/><br/>
        
            </span>
            <span *ngIf="user.userType=='agent'">
                <button  mat-button routerLink='/passwordChange' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Change password</button><br/><br/>
            <button  mat-button routerLink='/estateRequests' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Estate approval requests</button><br/><br/>
            <button  mat-button routerLink='/insertEstate' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">Insert estate</button><br/><br/>
            <button  mat-button routerLink='/allEstates' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">View all estates</button><br/><br/>
            <button  mat-button routerLink='/myEstates' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">My estates</button><br/><br/>
        
            </span>
        </mat-sidenav>

        <mat-sidenav-content>
            <br/>
            <div class="background-transparent custom-mat-drawer-content">
                <router-outlet>
                    <span *ngFor='let e of allRequestedEstates'>
                        <mat-card class="estate-card" >
                            <mat-card-header>
                              <mat-card-title>{{e.name}}</mat-card-title>
                              <mat-card-subtitle>{{e.city}}, {{e.municipality}}</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="{{e.gallery[0]}}" alt="photo of estate" height="200px">
                            <mat-card-content >
                             <b> Cena:</b> {{e.price}} <br/>
                             <b> Tip nekretnine: </b> {{e.typeOfEstate}} <br/>
                             <span *ngIf="e.typeOfEstate=='stan'"><b>Broj soba: </b> {{e.numberOfRooms}} <br/></span>
                             <b> Kvadratura: </b> {{e.size}} <br/>
                             <b> Tip oglasa: </b> {{e.typeOfAdvertisement}}
                            </mat-card-content>
                            <mat-card-actions >
                                <button mat-button class="button-accept" (click)='acceptEstateRequest(e.idAdvertisement)'>Accept</button>
                                <button mat-button class='button-decline'(click)='declineEstateRequest(e.idAdvertisement)'>Decline</button>
                            </mat-card-actions>
                          </mat-card>
                        </span>
                </router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>