
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-toolbar style="position: sticky;">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    <span>Welcome, guest</span>
    <span class="example-spacer"></span>
    <button mat-button class="example-icon" *ngIf='!isLoggedIn' (click)='register()'>
        Register
      </button>
    <button mat-button class="example-icon" *ngIf='isLoggedIn' (click)='logout()'>
      Log out
    </button>
    <button mat-button class="example-icon" *ngIf='!isLoggedIn' (click)='login()'>
        Log in
      </button>
</mat-toolbar>

<div style="height: 100%;">
    <mat-sidenav-container class="background-transparent" style="height: 100%;">
        <mat-sidenav  #drawer mode="over"  #sidenav class='sclass'>
            <br/><br/>
            <button  mat-button routerLink='/about' routerLinkActive="button-nav-selected" (click)='sidenav.close()' class="nav-button">About</button><br/><br/>
        </mat-sidenav>

        <mat-sidenav-content>
            <div class="background-transparent custom-mat-drawer-content">
              <div>
                <ng-image-slider [images]="imagesObject" #nav infinite='true' [imagePopup]="false" [autoSlide]='{interval: 2, stopOnHover: true}'></ng-image-slider>
              </div>
                    <br/>
                    <mat-card class='search-card'>
                        <mat-card-header>
                            <mat-card-title>Pretraga nekretnina</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            
                            <br/>
                                <section>
                                    <mat-checkbox class="example-margin" [(ngModel)]="city">Po gradu</mat-checkbox>
                                    <mat-checkbox class="example-margin" [(ngModel)]="price">Po ceni</mat-checkbox>
                                    <br/><br/>
                                    <div *ngIf='city'>
                                        <b> Grad:</b> <input type="text" class="form-input" name="citySearch" [(ngModel)]='citySearch'>
                                    </div>
                                    
                                    <div *ngIf="price">
                                        <br/>
                                       <b> Min:</b> <input type="number" class="form-input-price" name="minPriceSearch" [(ngModel)]='minPriceSearch'>
                                        <b>Max:</b> <input type="number" class="form-input-price" name="maxPriceSearch" [(ngModel)]='maxPriceSearch'>
                                    </div>
                                    <br/>
                                    <mat-card-actions>
                                    <div>
                                        <button class="btn btn-primary" (click)='search()'> Pretraga </button>
                                    </div>
                                </mat-card-actions>
                            </section>
                                
                        </mat-card-content>
                    </mat-card>


                    <br/>
                   <span *ngFor='let e of allApprovedEstates'>
                    <mat-card class="estate" >
                        <mat-card-header>
                          <mat-card-title>{{e.name}}</mat-card-title>
                          <mat-card-subtitle>{{e.city}}, {{e.municipality}}</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="{{e.gallery[0]}}" alt="photo of estate" height="200px">
                        <mat-card-content>
                            <br>
                            <br/>
                         <b> Cena:</b> {{e.price}} <br/>
                         <b> Tip nekretnine: </b><span *ngIf="e.typeOfEstate=='stan'">{{e.numberOfRooms}}.0</span> {{e.typeOfEstate}} <br/>
                         <b> Kvadratura: </b> {{e.size}} <br/>
                         <b> Tip oglasa: </b> {{e.typeOfAdvertisement}}
                         
                        </mat-card-content>
                        <mat-card-actions >
        
                        </mat-card-actions>
                    </mat-card>
                    </span>
                      
            
                
                
                
                
                
                
                
                
                
                
                
                
               
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
<notifier-container></notifier-container>